Hello,<br><br>


Thank you for Signing Up with Us<br>

Please enjoy our delicious receipes at your doorstep by online shopping..<br>
<p>
                            Your profile is not complete, please complete it by logging to your account at: <a href="http://localhost:3000/account/signin">this link</a>
                          </p><br><br>


Thanks,<br>
Cakedelights Team.