Hello,<br><br>


Thank you for Signing Up with Us<br>

Please enjoy our delicious receipes at your doorstep by online shopping..<br>
<p>
                            Please visit your profile to do sign-in and access your account.
                          </p><br><br>


Thanks,<br>
Cakedelights Team.