<div id="about">
			<div class="aside">
				<h1>About Cake Delights</h1>				
				<p>Cake Delight is a gourmet bakery located in San Ramon CA, that has been delighting its customers for nearly 20 years with specialty cakes and pastries. Their pastry chefs take great pride in hand-crafting the finest desserts and have helped establish the bakery as the premier provider of wedding cakes in the greater Boston area, producing over 700 wedding cakes a year!

Owner Kelly Delaney, who received her culinary education from the Ballymaloe Cookery School in Ireland and the Cordon Bleu in London, is recognized as one of the nation's top baking experts.</p>
				<span>Humble Beginnings Lead to Pastry Empire</span>
				<p>Delaney, who started her business with a single oven in her mother's home, now employs nearly 30 people and has over 8,000 wedding cakes to her credit. She has won dozens of awards for her outstanding products including Reader's Choice Awards, Northshore Magazine's BONS 2012 Award, Best of Boston Awards and numerous other accolades. She was nominated as "Entrepreneur of the Year" by New England Women Business Owners.</p>
				<span>Delaney Nationally Recognized Expert</span>
				<p>Delaney has made dozens of appearances on national, regional and local television and radio programs. Her "Pearls & Shells" cake was voted the viewer favorite and featured on NBC's Today show for their Destination Wedding segment in 2004. Delaney has also been featured on Boston's Fox 25 News, NECN's Good Morning Live and Phantom Gourmet, TV Diner with Billy Costa, KISS 108's Matty in the Morning Show, Oldies 103's Breakfast Club, MAGIC 106.7's Exceptional Women as well as numerous other programs.

Delaney was hand-selected to be featured in a national ad campaign for King Arthur Flour that appeared in both Gourmet and Yankee magazines. She is currently featured in their program Baking Across America</p>
				
			</div>
			<div class="section">
				<div id="visitshop">
					<div>
						<p><span>Sweets from the heart</span> Treat your loveones</p>
						 <a href="" class="visit">visit the shop</a>
					</div>
				</div>
				<div>
					
				</div>
				<div>
					<h3>Address</h3>
					<p>130 Market Place <br /> San Ramon <br /> CA 94583<br /></p>
				</div>				
				<div>
					<img src="/assets/map.png" alt="map" />
				</div>
				<div>
					<a href="/" class="callus">CALL US <span>1-800-4216243</span></a>
				</div>
			</div>
		</div>