<div id="services">
			<div class="aside">
				<h1>Our Services</h1>
				<p>Cake Delights specializes in homemade desserts.  We offer cupcakes, cakes, weddings, birthdays, balloons, and other treats!! Our pricing philosophy is and will always be control cost so we can offer reasonable prices to keep customers coming back.  We now offer balloons and a limited amount of party novelities.</p>
				<span>Cupcakes</span>
				<p>Cupcakes are offered in a variety of flavors:  yellow, strawberry, lemon, chocolate, oreo, red velvet, key lime, coconut, german chocolate, pineapple upside down, pink lemonade, sweet potato, cherry limeade, cheesecake, blue velvet, and special request.  We now offer cocktail cupcakes!</p>
				<span>Weddings</span>
				<p>Cake Delights provides "Out of the ordinary" wedding cakes!  We are nothing like your traditional bakery.  We choose from your selection, our selection, or customize from several creations.  Just when you thought that was great, you can have each tier on your cake a different flavor!  We take you out of the ordinary box and place your special day into the extraordinary box!!  Call for a free wedding consultation and cake testing.</p>
				<span>Bulk Orders</span>
				<p>If you own a restaurant or grocery store Cake Delights can provide our fabulous desserts with wholesale pricing!  You can get desserts sold to you wholesale and you can slice them or we can preslice them in airtight containers!

We also have great fundraising opportunities!</p>
			</div>
			<div class="section">
				<h3>Please read</h3>
				<p>While every cake/image on our website has been created by Cakes for Occasions and has been done here at our location, not every cake will be an exact replica of the image. We pride ourselves on the fact that we hire cake "artists" not just "cake decorators". With that said,every 'artists' has his/her style/technique of creating masterpieces. </p>
				<div id="visitshop">
					<div>
						<p><span>Sweets from the heart</span> Treat your loveones</p>
						 <a href="" class="visit">visit the shop</a>
					</div>
				</div>
			</div>
		</div>